<% form_for @event do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.label :local %><br />
    <%= f.text_field :local %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :revenue %><br />
    <%= f.text_field :revenue %>
  </p>
  <p>
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </p>
  <p>
    <%= f.label :confirmed %><br />
    <%= f.check_box :confirmed %>
  </p>
  <p>
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.label :event_type_id, "Event type" %>
    <%= f.collection_select :event_type_id, EventType.all, :id, :description %>
  </p>
  <p>
    <%= f.label :entity_id %><br />
    <%= f.collection_select :entity_id, Entity.all, :id, :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
