<% title "Calendário" %>

<% if can? :create, Event %>
  <% content_for :actions do |a| %>
  <p><%= link_to 'Criar evento', new_event_path %></p>
  <% end %>
<% end %>

<% @grouped_events.each do |date, events| %>
<h2><%= Event::MONTHS[date[0]-1] %> <%= date[1] %></h2>
  <% events.group_by{|e| e.start_date.day}.each do |day, day_events| %>
  <h3>Dia <%= day %></h3>
  <ul>
    <% day_events.sort{|a,b| a.start_date.hour <=> b.start_date.hour }.each do |e| %>
      <li><%= e.start_date.strftime('%H:%m') %> <a href="<%= event_path(e) %>"><%= e.name %></a></li>
    <% end %>
  </ul>
  <% end %>
<% end %>
