<% title "Events" %>

<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Local</th>
    <th>Notes</th>
    <th>Revenue</th>
    <th>Paid</th>
    <th>Confirmed</th>
    <th>Public</th>
    <th>Event Type</th>
    <th>Entity</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.name %></td>
      <td><%=h event.start_date %></td>
      <td><%=h event.end_date %></td>
      <td><%=h event.local %></td>
      <td><%=h event.notes %></td>
      <td><%=h event.revenue %></td>
      <td><%=h event.paid %></td>
      <td><%=h event.confirmed %></td>
      <td><%=h event.public %></td>
      <td><%=h event.event_type %></td>
      <td><%=h event.entity %></td>
      <td><%= link_to "Show", event %></td>
      <td><%= link_to "Edit", edit_event_path(event) %></td>
      <td><%= link_to "Destroy", event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_event_path %></p>
