<% title @event.name %>

<% content_for :actions do |a| %>

<% if can? :update, Event %>
<p><%= link_to "Editar evento", edit_event_path(@event) %> 
<% end %>
<% if can? :destroy, Event %>
<p><%= link_to "Apagar evento", @event, :confirm => 'Confere?', :method => :delete %> 
<% end %>

<p><%= link_to "Voltar atrás", events_path %>
<% end %>

<p>
  <strong>Name:</strong>
  <%=h @event.name %>
</p>
<p>
  <strong>Start Date:</strong>
  <%=h @event.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%=h @event.end_date %>
</p>
<p>
  <strong>Local:</strong>
  <%=h @event.local %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @event.notes %>
</p>
<p>
  <strong>Revenue:</strong>
  <%=h @event.revenue %>
</p>
<p>
  <strong>Paid:</strong>
  <%=h @event.paid %>
</p>
<p>
  <strong>Confirmed:</strong>
  <%=h @event.confirmed %>
</p>
<p>
  <strong>Public:</strong>
  <%=h @event.public %>
</p>

<% if can? :manage, Availability %>
<h2>Availabilities</h2>
<% end %>

