<% form_for @role do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.label :member %><br />
    <%= f.text_field :member %>
  </p>
  <p>
    <%= f.label :role_type %><br />
    <%= f.text_field :role_type %>
  </p>
  <p><%= f.submit %></p>
<% end %>
