<% title "Posts" %>
<% if can? :create, Post %>
  <% content_for :actions do %>
  <p><%= link_to "New Post", new_post_path %></p>
  <% end %>
<% end %>

<% for post in @posts %>
  <h1><a href="<%= post_path(post) %>"><%= post.title %></a></h1>
  <p>By <%=h post.member.nickname %> at <%= post.created_at %></p>
  <%=textilize post.body %>
<% end %>
