<% title @post.title %>

<% content_for :actions do %>
  <% if can? :update, Post  %>
  <p><%= link_to "Editar notícia", edit_post_path(@post) %></p>
  <% end  %>
  <% if can? :destroy, Post  %>
  <p><%= link_to "Apagar notícia", @post, :confirm => 'Are you sure?', :method => :delete %></p>
  <% end  %>
  <p><%= link_to "Voltar", posts_path %></p>
<% end %>

<p><%=h @post.created_at %> &mdash; <%=h @post.member.nickname %></p>

<%=textilize @post.body %>

<a name="fb_share" type="button_count" share_url="<%= post_url @post %>" href="http://www.facebook.com/sharer.php">Share</a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

