<% title @post.title %>

<% content_for :actions do %>
<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %></p>
<p><%= link_to "View All", posts_path %></p>
<% end %>

<p><%=h @post.created_at %> &mdash; <%=h @post.member.nickname %></p>

<%=textilize @post.body %>

