<% form_for(@member) do |f| %>
  <%= f.error_messages %>

<%- unless @member.entity.new_record? %>
<p>
  <%= f.hidden_field :entity_id %>
</p>
<%- end %>

<p>
  <%= f.label :nickname, "Nickname" %><br/>
  <%= f.text_field :nickname %>
</p>

<p>
  <%= f.label :student_number, "Student number" %><br/>
  <%= f.text_field :student_number %>
</p>

<p>
  <%= f.label :nbi, "BI" %><br/>
  <%= f.text_field :nbi %>
</p>

<p>
  <%= f.label :programme_id, "Programme" %><br/>
  <%= f.collection_select :programme_id, Programme.all, :id, :description %>
</p>

  <% f.fields_for :entity do |e| %>

    <p>
      <%= e.hidden_field :entity_type_id, :value => @entity_type_id %>
    </p>

    <p>
      <%= e.label :name, "Name" %><br/>
      <%= e.text_field :name %>
    </p>

    <p>
      <%= e.label :homepage, "Homepage" %><br/>
      <%= e.text_field :homepage %>
    </p>

    <p>
      <%= e.label :nif, "NIF" %><br/>
      <%= e.text_field :nif %>
    </p>

    <h3>Telephones</h3>

    <% e.fields_for :telephones do |telephone_form| %>
      <%= render :partial => 'entities/telephone', :locals => { :f => telephone_form } %>
    <% end %>

    <p>
      <%= add_child_link "New Telephone", e, :telephones, {:partial => 'entities/telephone'} %>
    </p>

    <h3>Addresses</h3>

    <% e.fields_for :addresses do |addresses_form| %>
      <%= render :partial => 'entities/address', :locals => { :f => addresses_form } %>
    <% end %>

    <p>
      <%= add_child_link "New Address", e, :addresses, {:partial => 'entities/address'} %>
    </p>

    <h3>Emails</h3>

    <% e.fields_for :emails do |emails_form| %>
      <%= render :partial => 'entities/email', :locals => { :f => emails_form } %>
    <% end %>

    <p>
      <%= add_child_link "New Email", e, :emails, {:partial => 'entities/email'} %>
    </p>

  <% end %>

  <% f.fields_for :user do |u| %>
  <p>
    <%= u.label :username %><br />
    <%= u.text_field :username %>
  </p>
  <p>
    <%= u.label :password %><br />
    <%= u.password_field :password %>
  </p>
  <p>
    <%= u.label :password_confirmation %><br />
    <%= u.password_field :password_confirmation %>
  </p>

  <% end %>

  <%= f.submit "Submit" %>

<% end %>
