<% content_for :head do %>
  <%= javascript_include_tag "tabber" -%>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" -%>
<% end %>

<% form_for(@member) do |f| %>
  <%= f.error_messages %>

<p id="description">Campos marcados com um <span style="color: red;">*</span> são obrigatórios.</p>

<div class="tabber">
        
  <div class="tabbertab">

    <h3>Informação Pessoal</h3>
        
    <p>
    <%= f.label :nickname, "Alcunha" %><br/>
    <%= f.text_field :nickname %>
    </p>
  
    <p>
    <%= f.label :student_number, "N.º de Aluno" %> <br/>
    <%= f.text_field :student_number %>
    </p>
  
    <p>
    <%= f.label :nbi, "N.º de Bilhete de Identidade" %><br/>
    <%= f.text_field :nbi %>
    </p>
  
    <p>
    <%= f.label :programme_id, "Curso" %><br/>
    <%= f.collection_select :programme_id, Programme.all, :id, :description, {:prompt => 'Seleccionar curso'} %>
    </p>
  
    <% f.fields_for :entity do |e| %>
  
    <p>
    <%= e.hidden_field :entity_type_id, :value => @entity_type_id %>
    </p>
  
    <p>
    <%= e.label :name, "Nome próprio" %> <br/>
    <%= e.text_field :name %>
    </p>
  
    <p>
    <%= e.label :homepage, "Página pessoal" %><br/>
    <%= e.text_field :homepage %>
    </p>
  
    <p>
    <%= e.label :nif, "Número de Identificação Fiscal" %><br/>
    <%= e.text_field :nif %>
    </p>
  
    <% end %>
  
    <% f.fields_for :user do |u| %>
    <p>
    <%= u.label :username, "Nome de utilizador" %> <br />
    <%= u.text_field :username %>
    </p>

    <p>
    <%= u.label :password, "Palavra passe" %> <br />
    <%= u.password_field :password %>
    </p>

    <p>
    <%= u.label :password_confirmation, "Confirmação da palavra passe" %><br />
    <%= u.password_field :password_confirmation %>
    </p>


    <% if current_user.role? :admin  %>
    <p>
    <%= u.label :roles, "Permissões" %><br />

    <% for role in User::ROLES %>
    <%= check_box_tag "member[user_attributes][roles][]", role, @member.user.roles.include?(role), {:id => 'member_user_attributes_roles_' + role} %> <%=h role.humanize %><br />
    <% end %>

    <%= hidden_field_tag "member[user_attributes][roles][]", "" %>
    </p>
    <% end %>
    <% end %>

  <%= f.submit "Guardar" %>
  
  </div>

  <div class="tabbertab">
    <% f.fields_for :entity do |e| %>
    <h3>Telefones</h3>

    <% e.fields_for :telephones do |telephone_form| %>
      <%= render :partial => 'entities/telephone', :locals => { :f => telephone_form } %>
    <% end %>

    <p>
      <%= add_child_link "Novo telefone", e, :telephones, {:partial => 'entities/telephone'} %>
    </p>

  <%= f.submit "Guardar" %>
  </div>

  <div class="tabbertab">
    <h3>Moradas</h3>

    <% e.fields_for :addresses do |addresses_form| %>
      <%= render :partial => 'entities/address', :locals => { :f => addresses_form } %>
    <% end %>

    <p>
      <%= add_child_link "Nova morada", e, :addresses, {:partial => 'entities/address'} %>
    </p>

  <%= f.submit "Guardar" %>
    
  </div>

  <div class="tabbertab">
    <h3>Emails</h3>

    <% e.fields_for :emails do |emails_form| %>
      <%= render :partial => 'entities/email', :locals => { :f => emails_form } %>
    <% end %>

    <p>
      <%= add_child_link "Novo Email", e, :emails, {:partial => 'entities/email'} %>
    </p>
  <% end %>

  <%= f.submit "Guardar" %>

  </div>

<% end %>

<% unless @member.new_record? %>

  <% if can? :manage, Promotion  %>
  <div class="tabbertab">
    <h3>Hierarquia</h3>
    <% semantic_form_for @promotion do |f|  %>
      <% f.inputs "Nova hierarquia" do %>
        <%= f.input :name, :label => "Nome" %>
        <%= f.input :time, :as => :datetimepicker, :label => "Data" %>
        <%= f.input :hierarchy, :as => :select, :label_method => :description, :value_method => :id, 
          :label => "Hierarquia" %>
        <%= f.input :member_id, :as => :hidden, :value => @member.id %>
      <% end  %>
      <%= f.buttons %>
    <% end %>

    <% @member.promotions.ordered.each do |p| %>
      <p><%= p.time %></p>
    <% end %>
  </div>
  <% end %>

  <% if can? :manage, Role  %>
  <div class="tabbertab">
    <h3>Cargos</h3>
    <% semantic_form_for @role do |f|  %>
      <% f.inputs "Novo cargo" do %>
        <%= f.input :name, :as => :select, :collection => Role::NAMES, :label_method => :humanize, :label => "Descrição" %>
        <%= f.input :start_date, :as => :datetimepicker, :label => "Data de início" %>
        <%= f.input :end_date, :as => :datetimepicker, :label => "Data de final" %>
        <%= f.input :member_id, :as => :hidden, :value => @member.id %>
      <% end %>
      <%= f.buttons %>
    <% end %>
  </div>
  <% end %>
<% end  %>

</div>
