<%- title("A Tuna actualmente") -%>

<% if can? :create, Member %>
  <% content_for :actions do |a| %>
  <p><%= link_to 'Criar membro', new_member_path %></p>
  <% end %>
<% end %>

<% unless @magister.nil?  %>
  <h2>Magister</h2>
  <ul>
    <li><a href="<%= member_path(@magister) %>"><%=h @magister.nickname %></a></li>
  </ul>
<% end %>

<% unless @ensaiador.nil? %>
  <h2>Ensaiador</h2>
  <ul>
    <li><a href="<%= member_path(@ensaiador) %>"><%=h @ensaiador.nickname %></a></li>
  </ul>
<% end %>

<% @hierarchies.each do |h| %>
  <h2><%=h h.description.pluralize %></h2>

  <ul>
  <% h.ordered_members.each do |m| %>
    <li><a href="<%= member_path(m) %>"><%=h m.nickname %></a></li>
  <% end %>
  </ul>

<% end %>
